body {
  padding-top: 24px;
  padding-left: 84px;
  padding-right: 84px;
  max-width: 700px;
  margin: auto;
}

/* OVERALL TOP BAR */

.overview {
  font-family: "Nunito Sans", Arial, sans-serif;
  color: #484848;
  font-size: 22px;
  font-weight: 800;
}

.star {
  font-size: 18px;
  font-weight: 600;
  color: #FF5A5F;
  margin-right: 10px;
}

/* SCORES TABLE */

.scoresTable {
  font-family: "Nunito Sans", Arial, sans-serif;
  color: #484848;
  font-size: 16px;
  font-weight: 300;
  margin-top: 24px;
  margin-bottom: 24px;
}

.scoreCell {
  float: right;
  font-family: "Nunito Sans", Arial, sans-serif;
  color: #484848;
  font-size: 12px;
  font-weight: 600;
  margin-top: 4px;
  margin-right: 64px;
}

.scoreCol1, .scoreCol2 {
  width: 330px;
  padding-bottom: 8px;
}

.scoreCol1 {
  margin-right: 16px;
  padding-right: 8px;
}

/* RATING BARS */

.scoreBar {
  float: right;
  height: 3px;
  width: 60px;
  border-radius: 4px;
  background-color: #F7F7F7;
  margin-top: 10px;
  margin-right: 16px;
}

.scoreRating {
  height: 4px;
  border-radius: 3px;
  background-color: #484848;
}

/* REVIEWS TABLE */

.reviewCell {
  width: 1000px;
  margin-right: 64px;
  padding-right: 64px;
  padding-bottom: 48px;
}

.userImage {
  border-radius: 50%;
  width: 58px;
  float: left;
}

.userImage:hover {
  cursor: pointer;
}

.reviewUser, .reviewDate {
  margin-left: 76px;
}

.reviewUser {
  font-family: "Nunito Sans", Arial, sans-serif;
  color: #484848;
  font-size: 14px;
  font-weight: 800;
  padding-top: 10px;
}

.reviewDate {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #767676;
  padding-bottom: 8px;
  margin-bottom: 4px;

}

p {
  font-family: "Nunito Sans", Arial, sans-serif;
  color: #484848;
  font-size: 16px;
  float: left;
  padding-bottom: 24px;
}

/* VIEW ALL BUTTON */

.reviewsButton {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Nunito Sans", Arial, sans-serif;
  color: #484848;
  font-size: 16px;
  font-weight: 400;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 28px;
  padding-left: 28px;
  margin-top: 20px;
  margin-bottom: 24px;
  outline: none;
}

.reviewsButton:hover {
  cursor: pointer;
  background-color: #F7F7F7;
}

.reviewsButton:active {
  font-family: "Nunito Sans", Arial, sans-serif;
  color: #484848;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 26px;
  padding-left: 26px;
  margin-top: 23px;
  margin-bottom: 28px;
  margin-left: 2px;
  margin-right: 2px;
}

/* MODAL */

.modalReviews {
  width: 990px;
  margin-top: 28px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 50;
}

.modalHeader {
  position: fixed;
  margin-top: 4px;
}

.modalBtn {
  background-color: white;
  font-family: "Nunito Sans", Arial, sans-serif;
  color: #484848;
  font-size: 28px;
  font-weight: 400;
  border: 0px;
  border-radius: 50%;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 14px;
  padding-left: 14px;
  margin-bottom: 24px;
  outline: none;
}

.modalBtn:hover {
  cursor: pointer;
  background-color: #F7F7F7;
}

/* MODAL OVERVIEW */

.modalOverview {
  font-family: "Nunito Sans", Arial, sans-serif;
  color: #484848;
  font-size: 30px;
  font-weight: 800;
  float: left;
  padding-top: 12px;
  margin-top: 64px;
  position: fixed;
}

.modalStar {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #FF5A5F;
  margin-right: 10px;
  padding-left: 12px;
}

/* MODAL SCORES */

.modalScores {
  width: 310px;
  font-family: "Nunito Sans", Arial, sans-serif;
  color: #484848;
  font-size: 14px;
  font-weight: 300;
  padding-left: 12px;
  margin-top: 168px;
  display: inline-block;
  position: fixed;
}

.modalScore {
  float: right;
  font-family: "Nunito Sans", Arial, sans-serif;
  color: #484848;
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
}

.modalScoreCell {
  padding-bottom: 8px;
}

/* MODAL RATING BARS */

.modalScoreBar {
  float: right;
  height: 4px;
  width: 100px;
  border-radius: 3px;
  background-color: #F7F7F7;
  margin-top: 13px;
  margin-left: 50px;
  margin-right: 18px;
}

.modalScoreRating {
  height: 4px;
  border-radius: 3px;
  background-color: #484848;
}

/* MODAL REVIEWS */

.modalTable {
  float: right;
  width: 580px;
  padding-top: 12px;
  margin-top: 56px;
}
